amqp==2.2.1
billiard==3.5.0.3
celery==4.0.2
certifi==2017.4.17
chardet==3.0.4
Django==1.11.29
django-appconf==1.0.2
docutils==0.13.1
idna==2.5
kombu==4.0.2
pytz==2017.2
redis==2.10.5
requests==2.18.1
six==1.10.0
slackclient==1.0.6
urllib3==1.21.1
vine==1.1.4
websocket-client==0.44.0
