{% extends "base.html" %}


{% block content %}

<div class="row">
    <div class="col-lg-6">

        Hola! <br>
        Dejo el menú de hoy :)<br><br>

        <div>
            {% for o in options %}
                {{ o.description }} <br>
            {% endfor %}
            <br>
        </div>

        Tengan lindo día!
    </div>

    {% if menu.choose_menu != True %}
        <h5>No se permite elegir un menú después de las 11 AM CLT.</h5>
    {% else %}
        <div class="col-lg-6">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
            </form>
        </div>
    {% endif %}

</div>

{% endblock %}